:root {
  --font-color: #fff;
  --bg: #202124;
  --select: #404ff2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--font-color);
  overflow: hidden;
}


input {
  background: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
}

ul,
ul ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1em;
}

ul>li {
  line-height: 1.5em;
  margin-bottom: 1px;
  background: transparent;
}

.folder li {
  display: inline-block;
}

.sidebar ul {
  padding-top: 3px;
  padding-bottom: 3px;
}

.sidebar ul li.folder {
  font-weight: bold;
}

.sidebar ul li.folder:hover,
.sidebar ul li.folder.open,
.sidebar ul li.folder.active {
  border-radius: 4px;
  background-color: #747781;
  padding: 4px 6px;
}

.sidebar ul li a {
  padding: 2px 8px;
  margin-bottom: 1px;
  margin-right: 1px;
  border-radius: 4px;
}

.sidebar ul li.active>a,
.sidebar ul li a:hover {
  background: var(--select);
}

main {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body main {
  grid-template-columns: 1fr 3fr;
}

body.close main {
  grid-template-columns: 0 1fr;
}

.sidebar-toggle {
  position: fixed;
  right: 0;
  bottom: 0;
  border: none;
  background: transparent;
}

.sidebar-toggle-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 2em;
  height: 2em;
  padding: .4em;
  gap: 3px;
  border-top-left-radius: 4px;
  background: #4d4f55;
}

.sidebar-toggle-button:hover {
  background-color: rgb(65, 65, 65);
}

.sidebar-toggle-button span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}

/* 侧栏 */
.sidebar {
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

div.search input,
div.search input:focus {
  box-shadow: none;
  border: none;
  color: #fff;
}

div.docsify-pagination-container {
  margin: 1em .5em;
}

/* 主体 */
.content {
  height: 100vh;
  max-height: 100vh;
  padding: 1em;
  overflow-y: auto;
}

blockquote {
  margin: .5em 0;
  padding-top: 1px;
  padding-bottom: 3px;
  border-left: 2px solid #707070;
}

div.pagination-item-label {
  margin-bottom: 3px;
}

div.pagination-item-title {
  font-size: 1.2em;
}

div.pagination-item-title,
div.docsify-pagination-container a {
  text-decoration: none !important;
}

.markdown-section code,
.markdown-section output:after,
.markdown-section pre {
  font-family: Roboto Mono, Monaco, courier, monospace
}

.markdown-section code,
.markdown-section pre {
  border-radius: 4px;
  color: #fff;
  background-color: #000;
}

.markdown-section output,
.markdown-section pre {
  margin: 1.2em 0;
  position: relative
}

.markdown-section output,
.markdown-section pre>code {
  border-radius: 2px;
  display: block
}

.markdown-section output:after,
.markdown-section pre>code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial
}

.markdown-section code {
  border-radius: 2px;
  color: #448ef7;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap
}

.markdown-section>:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) code {
  font-size: .8rem
}

.markdown-section pre {
  padding: 0 .4rem;
  line-height: 1.5rem;
  overflow: auto;
  word-wrap: normal
}

.markdown-section pre>code {
  /* color: #525252; */
  color: #fff;
  font-size: .8rem;
  /* padding: 2.2em 5px; */
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  white-space: inherit
}


.markdown-section output {
  padding: 1.7rem 1.4rem;
  border: 1px dotted #ccc
}

.markdown-section output>:first-child {
  margin-top: 0
}

.markdown-section output>:last-child {
  margin-bottom: 0
}

.markdown-section code:after,
.markdown-section code:before,
.markdown-section output:after,
.markdown-section output:before {
  letter-spacing: .05rem
}

.markdown-section output:after,
.markdown-section pre:after {
  color: #ccc;
  font-size: .6rem;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  content: attr(data-lang)
}


.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8e908c
}

.token.namespace {
  opacity: .7
}

.token.boolean,
.token.number {
  color: #c76b29
}

.token.punctuation {
  color: #525252
}

.token.property {
  color: #c08b30
}

.token.tag {
  color: #2973b7
}

.token.string {
  color: #42b983;
  color: var(--theme-color, #42b983)
}

.token.selector {
  color: #6679cc
}

.token.attr-name {
  color: #2973b7
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.url {
  color: #22a2c9
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit {
  color: #42b983;
  color: var(--theme-color, #42b983)
}

.token.function,
.token.keyword {
  color: #448ef7
}

.token.atrule,
.token.regex,
.token.statement {
  color: #22a2c9
}

.token.placeholder,
.token.variable {
  color: #3d8fd1
}

.token.deleted {
  text-decoration: line-through
}

.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none
}

.token.italic {
  font-style: italic
}

.token.bold,
.token.important {
  font-weight: 700
}

.token.important {
  color: #c94922
}

.token.entity {
  cursor: help
}

code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 1.5rem;
  position: relative;
  left: auto
}


button.docsify-copy-code-button {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  overflow: visible;
  padding: .25em .5em;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-size: 1em;
	border-bottom-left-radius: 4px;
  background: rgb(75, 75, 75);
  color: #fff;
}